body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.welcome-font{
    font-size: 50px;
    font-family: 'Monoton', cursive;
    color: black;
}
.name-highlight{
    color: blue;
    font-size: 45px;
}
.name-font{
    font-size: 45px;
    color: black;
}
section{
    height: 400px;
    width: 1360px;
}
.half-width{
    float: left;
}
img{
    float: left;
}